.admin-container {
    text-align: center;
    margin-top: 50px;
}

.admin-heading {
    color: #1e85e1;
    font-size: 24px;
    margin-bottom: 20px;
}

.admin-button {
    background-color: #ffc107;
    border-color: #ffc107;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.admin-button:hover {
    background-color: #ffcd38;
    border-color: #ffcd38;
}



